$clear: transparent;
$theGoodGrey: rgb(225, 225, 225);

body {
  background-color:$theGoodGrey;
}

.navbars{
  float: right;
  background-color: $clear;
  color:black;
}

.navbars:active{
  background-color: $clear;
  color: $theGoodGrey;
}